div {
    width: 50vh;
    height: 50vh;
    background-color: red;
    animation: anim 2s infinite;
}

@keyframes anim {
    0% {
        background-color: red;
    }
    33.3% {
        background-color: green;
    }
    66.6% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}