body {
    background-color: #EEE;
}

.container {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 20vh;

    width: 200px;
    height: 50px;
    /* background-color: red; */
    /* position: relative; */

    border-right: 3px solid white;

    overflow: hidden;

    animation: slider-anim 2s infinite;

    .text {
        font-family: sans-serif;
        font-size: 40px;
        font-weight: bold;
        /* position: absolute; */

        white-space: nowrap;
        
        color: white;

        z-index: 1;
        /* position: absolute; */
        top: 0;
    }

    .slider {
        height: 100px;
        width: 30px;
        z-index: 2;
        position: absolute;

        /* background-color: blue; */
        
        /* border-right: 3px solid white; */
    }
}

@keyframes slider-anim {
    from {
        width: 0;
    }

    to {
        width: 285px;
    }
}

@keyframes text-anim {
    from {
        fill-opacity: 0;
    }

    to {
        fill-opacity: 100%;
    }
}
