.pos-2 {
    width: 600px;
    height: 600px;
    margin: auto;

    background-color: #EEE;

    display: flex;

    animation: anim-2 4s infinite;

    .pointer {
        background-color: blue;

        width: 200px;
        height: 200px;
    }
}
@keyframes anim-2 {
    0% { justify-content: flex-start; }

    10% {
        justify-content: center;
    }

    20% {
        justify-content: end;
    }

    30% {
        flex-direction: column;
        justify-content: center;
    }

    40% {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    50% {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
}