.box {
    background-color: blue;
    height: 400px;
    width: 400px;

    margin-top: 100px;
    margin-inline: auto;

    position: relative;
    overflow: hidden;

    /* object-fit: contain; */

    img {
        height: 100%;
        width: 100%;
    }

    .circle {
        background-color: cyan;
        height: 300px;
        width: 300px;
        border-radius: 50%;

        position: absolute;
        bottom: -280px;
        left: -280px;

        transition: 1s;
    }

    &:hover .circle {
        bottom: -70px;
        left: -70px;
        transition: 1s;
    }
}