.container {
    /* background: green; */
    width: 80%;
    height: 35vh;
    margin: auto;
}

.item {
    display: inline-block;
    /* background: blue; */
    width: 25%;
    height: 90%;
    margin-top: 1%;
    margin-left: 6.25%;
}

.cat {
    width: 100px;
    height: 100px;
}