.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 15px;

    .item {
        transition: 1s;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .item:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .item:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .item:nth-child(4) {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}

/* .item:nth-child(1):hover {
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    transform: translateY(100%);

    .item:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
} */

.grid2 {
    margin-top: 50vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    gap: 10px;

    .item {
        min-width: 1fr;
        min-height: 1fr;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;

        height: 3fr;
    }

    .item:nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 1 / 2;

        width: 2fr;
    }

    .item:nth-child(6) {
        grid-column: 4 / 5;
        grid-row: 2 / 4;

        height: 2fr;
    }
}