body {
    font-family: sans-serif;
}

.title {
    text-align: center;
}

.item {
    width: 270px;
    height: 413px;
    text-align: center;

    .image {
        img {
            width: 100%;
            height: 80%;
            float: left;
        }

        .icon {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: red;
            
            i {
                position: inherit;
                text-align: center;
                vertical-align: middle;
                margin-top: 6px;
                margin-left: 2px;
            }
        }
    }

    .name {

    }

    .price {
        color: red;

        del {
            font-size: 13px;
            color: gray;
        }
    }

    .rating {
        color: gray;
        font-size: 13px;
    }
}