.sofas {
    width: 100%;
    height: 50vh;
    /* background-color: blue; */

    .item {
        background-color: aquamarine;
        width: 25%;

        float: left;

        img {
            position: relative;
            width: 200px;

            bottom: 0px;
            right: 0px;
        }
    }
}