body {
    font-family: 'Segoe UI';
    height: 200vh;
}

nav {
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 10000;

    .logo {
        position: relative;
        display: inline;
        color: #0d6efd;
        top: 5px;
        margin-left: 8%;
    }

    .items {
        position: relative;
        display: inline;
        top: 10px;
        margin-right: 9%;
        font-size: 14px;
        list-style: none;

        .item {
            margin-inline: 15px;
            float: right;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

header {
    text-align: center;
    color: #0d6efd;
    margin-top: 50vh;
    margin-bottom: 8vh;
}

.frequently-asked {
    width: 90%;
    margin: auto;

    .question {
        font-family: sans-serif;

        p {
            color: gray;
            font-size: 13px;
        }

        width: 50%;
        float: inline-start;
        position: relative;
    }
}