body {
    font-family: sans-serif;
}

.title {
    text-align: center;
}

.item {
    width: 270px;
    height: 413px;
    text-align: center;

    .image {
        width: 100%;
        height: 80%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            float: left;
        }

        .icon {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            left: calc(50% - 40px / 2);
            top: calc(50% - 40px / 2);
            background-color: red;
            
            i {
                position: absolute;
                /* left: 50%; */
                /* top: 50%; */
            }
        }
    }

    .name {

    }

    .price {
        color: red;

        del {
            font-size: 13px;
            color: gray;
        }
    }

    .rating {
        color: gray;
        font-size: 13px;
    }
}