.posts {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    width: 230px;
    height: 400px;
    margin: 10px;
    overflow: hidden;

    .image {
        height: 50%;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
    }

    img {
        width: 120%;
        height: 120%;
        object-fit: none;
        object-position: center;
        transition: 2s;

        &:hover {
            transform: rotate(10deg) scale(1.4);
        }
    }
}